.container {
    margin: 50px 10px 0 0 ;
    background-color: rgb(227, 227, 227);
    border-radius: 8px;
}

header {
    text-align: center;
    padding:  20px 0; 

}
#img-div {
    background-color: white;
    padding: 5px 0 20px 0;
    width: 90%;
    margin: 20px auto ; 
}
img {
    display: block;
    width: 98%;
    margin: 5px  auto 30px;
    border-radius: 8px;
  }
 /* main________________________________ */
 main h2{
    text-align: center;
}
main {
    text-align: left;
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
}
main > ul > li {
    margin: 20px 0;
    font-size: 20px;
}
main > ul {
    margin-bottom: 50px;
}
main .dates {
    font-weight: bold;
}
main p >span {
    display: block;
    margin: 30px  0 ;
}
/* footer_______________________ */
footer p {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 30px ;
}